<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>BlackJack</title>
	@Scripts.Render("~/bundles/main")
	@Styles.Render("~/Content/css")
	
</head>
<body>
	<div class="container body-content">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<ul class="navbar-nav">
				<li class="nav-item">@Html.ActionLink("Login", "Login", new { Controller = "Game" }, new { @class = "nav-link" })</li>
				<li class="nav-item">@Html.ActionLink("Logs", "Logs",new { Controller = "Game" }, new { @class = "nav-link" })</li>
			</ul>
		</nav>

		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - REEK</p>
		</footer>
	</div>

	@RenderSection("scripts", required: false)
</body>
</html>
