@model BlackJack.ViewModel.GameViewModel
@{
    var jsonDeck =  new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Deck);
}
<h2 class="text-center">Black Jack</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <h2>
                <i class="fa fa-black-tie"></i>
                @Model.Dealer.Name
            </h2>
            <ul class="list-group">
                @foreach (var card in Model.Dealer.Hand.CardList)
                {
                    <li class="list-group-item">@card.Title of @card.Color</li>
                }
            </ul>
            <h4> Value: @Model.Dealer.Hand.CardListValue</h4>
        </div>
        <div id="GameStat" class="col-md-6 text-center">
            <h1 class="alert alert-info">@Model.Options</h1>
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                @for (var i = 0; i < Model.Bots.Count; i++)
                {
                    <li class="list-group-item">@Model.Bots[i].Name @Model.Bots[i].Points</li>
                }
                <li class="list-group-item">@Model.Human.Name @Model.Human.Points</li>
            </ul>
            <h3>Cards in deck: @Model.Deck.Count()</h3>
        </div>
    </div>
</div>
<div class="row text-center">
    @for (var i = 0; i < Model.Bots.Count; i++)
    {
    <div class="col-md-2">
        <h3 class="text-center">
            <i class="fa fa-desktop"></i>
            @Model.Bots[i].Name
        </h3>
        <ul class="list-group">
            @foreach (var card in Model.Bots[i].Hand.CardList)
            {
                <li class="list-group-item">@card.Title of @card.Color.ToString()</li>
            }
        </ul>
        <h4>Value: @Model.Bots[i].Hand.CardListValue</h4>
        <h4>Bet: @Model.Bots[i].Hand.Points</h4>
    </div>
    }

    <div class="col-md-2">
        <h3 class="text-center">
            <i class="fa fa-user"></i>
            @Model.Human.Name
        </h3>
        <ul class="list-group">
            @foreach (var card in Model.Human.Hand.CardList)
            {
                <li class="list-group-item">@card.Title of @card.Color.ToString()</li>
            }
        </ul>
        <h4>Value: @Model.Human.Hand.CardListValue</h4>
        <h4>Bet: @Model.Human.Hand.Points</h4>
    </div>

    <input id="playerValue" type="hidden" value="@Model.Human.Hand.CardListValue" />
    <input id="idButton" type="hidden" value="@Model.ButtonPushed" />
    <input id="playerPoints" type="hidden" value="@Model.Human.Points" />

    <div class="col-md-4 ">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();

            @Html.Hidden("humanId", Model.Human.Id);
            @Html.Hidden("jsonDeck", jsonDeck);

            <div class="row">
                <input id="drawButton" type="submit" value="Draw" class="custombutton btn btn-default" formaction="@Url.Action("Draw")" />
            </div>
            <div class="row">
                <input id="standButton" type="submit" value="Stand" class="btn btn-default custombutton" formaction="@Url.Action("Stand")" />
            </div>
            <div class="row">
                <input type="range" id="betValue" class="custombutton custom-range" min="10" value="10" max="@Model.Human.Points" oninput="placeBet()" step="10" name="pointsValue" />
            </div>
            <div class="row">
                <input type="number" id="imageBetValue" class="custombutton text-center" value="10" readonly="readonly" />
            </div>
            <div class="row">
                <input id="placeBetButton" type="submit" value="Place a bet" class="btn btn-default custombutton" formaction="@Url.Action("PlaceBet")" />
            </div>
        }
    </div>
</div>
