@model BlackJack.ViewModel.GameModel
@{
    ViewBag.Title = "Game";
    var json = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model);
}

<h2>Game</h2>
<ul class="list-group">
    @foreach (var player in Model.Players)
    {
        <li class="list-group-item">@player.Id @player.Name @player.Points</li>
    }
</ul>
<h3>Cards in deck: @Model.Deck.Count()</h3>
@Html.Partial("PlayersHand")

<div id="PlayersStats"></div>
<div class="row">
    @using (Html.BeginForm("Draw", "Game", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
       
        <input type="hidden" name="json" value="@json" />
        @Html.Hidden("playerId", Model.Players.Last().Id);
        <input type="submit" value="Draw" class="btn btn-default" />
    }
</div>


<div class="row">

</div>