@model BlackJack.ViewModel.GameModel
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2 class="text-center">@Model.Players[0].Name</h2>
            <ul class="list-group">
                @foreach (var card in Model.Players[0].Hand.CardList)
                {
                    <li class="list-group-item">@card.Title of @card.Color</li>
                }
            </ul>
            <h4> Value: @Model.Players[0].Hand.CardListValue</h4>
        </div>
        <div class="col-md-6">
            <h1 class="text-center">TEXT OF GAMEPLAY</h1>
            <h1 class="text-center">COOMING SOON</h1>
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                @foreach (var player in Model.Players)
                {
                    <li class="list-group-item">@player.Id @player.Name @player.Points</li>
                }
            </ul>
            <h3>Cards in deck: @Model.Deck.Count()</h3>
        </div>
    </div>
</div>
<div class="row">
    @for (var i = 1; i < Model.Players.Count; i++)
    {
        <div class="col-md-2">
            <h3 class="text-center">
                @Model.Players[i].Name
            </h3>
            <ul class="list-group">
                @foreach (var card in Model.Players[i].Hand.CardList)
                {
                    <li class="list-group-item">@card.Title of @card.Color.ToString()</li>
                }
            </ul>
            <h4>Value: @Model.Players[i].Hand.CardListValue</h4>
        </div>
    }

    <div class="col-md-4">
        <h1 class="text-center">BUTTONS OF ACTIONS</h1>
        <h1 class="text-center">COOMING SOON</h1>
    </div>
</div>

