@model BlackJack.ViewModel.GameModel
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2 class="text-center">@Model.Players[0].Name</h2>
            <ul class="list-group">
                @foreach (var card in Model.Players[0].Hand.CardList)
                {
                    <li class="list-group-item">@card.Title of @card.Color</li>
                }
            </ul>
            <h4> Value: @Model.Players[0].Hand.CardListValue</h4>
        </div>
        <div class="col-md-6" style="overflow-y: scroll; height: 238px;">
            @if (Model.GameStat != null)
            {
                foreach (var post in Model.GameStat)
                {
                    <p>@post</p>
                }
            }
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                @for (var i = 1; i < Model.Players.Count; i++)
                {
                    <li class="list-group-item">@Model.Players[i].Name @Model.Players[i].Points</li>
                }
            </ul>
            <h3>Cards in deck: @Model.Deck.Count()</h3>
        </div>
    </div>
</div>
<div class="row">
    @for (var i = 1; i < Model.Players.Count; i++)
    {
        <div class="col-md-2">
            <h3 class="text-center">
                @Model.Players[i].Name
            </h3>
            <ul class="list-group">
                @foreach (var card in Model.Players[i].Hand.CardList)
                {
                    <li class="list-group-item">@card.Title of @card.Color.ToString()</li>
                }
            </ul>
            <h4>Value: @Model.Players[i].Hand.CardListValue</h4>
        </div>
    }

    <div class="col-md-4">
        <h1 class="text-center">BUTTONS OF ACTIONS</h1>
        <h1 class="text-center">COOMING SOON</h1>
    </div>
</div>

